In [2]:
import yfinance as yf
import pandas as pd

# Menentukan ticker saham yang ingin diunduh
ticker = '603799.SS'
startDate = '2021-01-04'
endDate = '2024-11-15'
# Mendapatkan data historis saham
data = yf.download(ticker, start=startDate, end=endDate)

column = ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']

# Menampilkan data
data = data.reset_index()
data['Date'] = pd.to_datetime(data['Date']).dt.strftime('%d/%m/%Y')
data.columns = column
data

[*********************100%***********************]  1 of 1 completed

,Date,Open,High,Low,Close,Adj Close,Volume
0,04/01/2021,63.724701,67.000000,67.099998,62.615383,62.992306,61651904
1,05/01/2021,64.602646,67.923073,69.969231,65.123077,66.753845,54737945
2,06/01/2021,65.114792,68.461540,70.146156,65.169228,68.461540,45988442
3,07/01/2021,69.943527,73.538460,74.615387,68.846153,68.846153,58389932
4,08/01/2021,69.431389,73.000000,75.469231,68.084618,74.676926,56752057
...,...,...,...,...,...,...,...
931,08/11/2024,36.000000,36.000000,37.700001,35.669998,37.000000,88170188
932,11/11/2024,36.959999,36.959999,37.200001,35.470001,35.500000,70085121
933,12/11/2024,36.900002,36.900002,39.209999,36.220001,37.169998,100130084
934,13/11/2024,36.450001,36.450001,37.450001,35.750000,36.250000,61080817
935,14/11/2024,34.820000,34.820000,36.720001,34.750000,36.480000,48004180

In [3]:
# Menyimpan data ke file CSV
data.to_csv('Zhejiang.csv',  sep=';', index=False)
print('done.')

done.